@{
    ViewData["Title"] = "Historias Inspiradoras";
}



<section id="estudios">

        <h2 class="estudios-heading">Salvando los océanos: 5 líderes que luchan contra la contaminación</h2>

        <section>
            <p class="p1">
                Historias Inspiradoras

            </p>
        </section>
    </section>


    <section id="main">

        <p class="p1">
            Tiza Mafira: librando una guerra contra bolsas de plástico en Indonesia

            Mafira, abogada y directora del Movimiento de la Dieta de la Bolsa de Plástico en Indonesia, ha hecho una campaña larga para prohibir las bolsas de plástico de un solo uso en su país. Su organización lanzó una petición en 2015 solicitando a los minoristas que ya no entreguen bolsas de plástico de forma gratuita. El año siguiente, se lanzó una prueba piloto a nivel nacional y se aplicó un cargo a este artículo. Después de seis meses, hubo una reducción de 55% en el uso de bolsas de plástico.
        </p>


        <img src="../images/lider1.jpg" width="400" height="250">


        <p class="p1">
            Afroz Shah: el hombre detrás de la limpieza de playas más grande del mundo

            El abogado Afroz Shah es conocido por su trabajo de limpieza en la playa de Versova en Mumbai, pero su batalla contra la contaminación por plásticos es mucho más profunda.

            Cada semana, él y sus voluntarios limpian playas y manglares, y visitan escuelas para educar a los niños. Otro elemento clave del plan de acción de cinco puntos de Shah es su trabajo entre los 50.000 habitantes de dos asentamientos contiguos a la playa, lo que él llama zonas de conflicto humano-oceáno.
        </p>


        <img src="../images/lider2.jpg" width="400" height="250">



        <p class="p1">
            Hugo Tagholm: luchando con los surfistas por playas más limpias

            Tagholm se remonta a los días en los que buscaba tesoros enterrados en las riberas del río Támesis para entender su entusiasmo por la limpieza de playas. Este surfista y ambientalista se unió a Surfers Against Sewage (SAS, Surfistas contra las Aguas Residuales) en 1991 y ha visto cómo la organización pasó de ser un grupo de presión enfocado en un solo tema -la calidad del agua-, a convertirse en una de las organizaciones benéficas de conservación marina más populares del Reino Unido. Ahora el grupo cuenta con más de 350.000 miembros regulares y cada año puede movilizar alrededor de 50.000 voluntarios.
        </p>


        <img src="../images/lider3.jpg" width="400" height="250">





        <p class="p1">
            Sasina Kaudelka: activismo de base por las playas de Tailandia

            En 2015, Sasina Kaudelka cofundó en Ao Nang una sede de Trash Hero (Héroe de la basura), el movimiento global que trabaja para unir a las comunidades para limpiar y reducir el desperdicio, educar a la próxima generación y crear programas a largo plazo para ayudar a las personas a manejar su basura.

            Cada semana, Kaudelka y los voluntarios locales se reúnen para limpiar las playas de Ao Nang y el río cerca de la ciudad de Krabi.

            "Me encanta la idea detrás de Trash Hero y su enfoque. Krabi es mi hogar. Para mí, es importante reunir a la comunidad, no crear división.
        </p>

        <img src="../images/lider4.jpg" width="400" height="250">

        <p class="p1">
            Stiv Wilson: aprovechando el poder de las historias para cambiar la narrativa sobre el plástico
            El activista oceánico Stiv Wilson cree que el secreto del éxito radica en la acción colectiva. “La acción colectiva es la forma en que ganamos", dice.

            Wilson, que ahora está trabajando en el proyecto “La historia de las cosas”, encabezó anteriormente una campaña en Estados Unidos contra las microesferas de plástico. También está presionando para que en California se emita una ley que requiera que la ropa con un porcentaje de poliéster mayor a 50% venga con una etiqueta que advierta sobre el desprendimiento de microfibras plásticas.

            El proyecto “La historia de las cosas”, que comenzó en 2007 con un documental de Annie Leonard sobre la cultura de consumo, ahora tiene una comunidad global de alrededor de un millón de miembros.
        </p>


        <img src="../images/lider5.jpg" width="400" height="250">
    </section>
