@{
    ViewData["Title"] = "Home Page";
}

<h1 class=" top"></h1>
<h4 class="estudios-heading">Acciones concretas que los visitantes pueden tomar para reducir su huella de carbono y contribuir a la lucha contra la contaminación</h4>
<h2 class="estudios-heading">Uso Eficiente de la Energía</h2>
<ul>
    <li>Reemplaza las bombillas incandescentes por LED.</li>
    <li>Desconecta dispositivos electrónicos cuando no los uses</li>
    <li>Utiliza electrodomésticos con etiqueta de eficiencia energética</li>
    <li>Aprovecha la luz natural y ventila tu hogar adecuadamente</li>
    <li>Considera instalar paneles solares si es posible</li>

</ul>


<h2 class="estudios-heading"> Reducción del Consumo de Agua</h2>
<ol>
    <li>Repara las fugas de agua inmediatamente.</li>
    <li>Instala cabezales de ducha y grifos de bajo flujo</li>
    <li>Recoge agua de lluvia para riego</li>
    <li>Lava la ropa y los platos en cargas completas</li>
    <li>Riega las plantas temprano en la mañana o tarde en la tarde para reducir la evaporación</li>
</ol>

<h2 class="estudios-heading"> Transporte Sostenible</h2>
<ol>
    <li>Opta por caminar, andar en bicicleta o usar el transporte público siempre que sea posible</li>
    <li>Comparte viajes con amigos o colegas</li>
    <li>Elige vehículos de alta eficiencia energética o híbridos</li>
    <li>Planifica tus rutas para evitar atascos y optimizar el consumo de combustible</li>
    <li>Considera la opción de trabajar desde casa o de forma remota para reducir los desplazamientos</li>
</ol>

<h2 class="estudios-heading"> Consumo Responsable</h2>
<ol>
    <li>Compra productos duraderos y de calidad</li>
    <li>Prefiere productos con envases reutilizables o reciclables</li>
    <li>Reduce el consumo de carne y productos de origen animal</li>
    <li>Evita el derroche de alimentos planificando tus compras y almacenamiento</li>
    <li>Opta por productos locales y de temporada para reducir la huella de transporte</li>
</ol>

<h2 class="estudios-heading"> Reducción de Residuos </h2>
<ol>
    <li>Practica el reciclaje adecuado de papel, plástico, vidrio y metal</li>
    <li>Rechaza productos de un solo uso, como pajitas y bolsas plásticas</li>
    <li>Composta los desechos orgánicos en tu jardín</li>
    <li>Dona o vende artículos en lugar de desecharlos</li>
    <li>Participa en limpiezas locales y recogidas de basura en tu comunidad</li>
</ol>


