
<section id="estudios">

    <h2 class="estudios-heading">EcoConciencia: Combatiendo la Contaminación Ambiental</h2>


    <ul id="slider-estudios" class="cs-hidden">

        <li class="estudios-marvel">
            <div class="estudios-box">

                <div class="estudios-b-img">
                    <a href="#"> <img src="../images/logo1.jpg" />  </a>

                </div>
            </div>

        </li>

        <li class="estudios-netflix">
            <div class="estudios-box">

                <div class="estudios-b-img">
                    <a href="#"> <img src="../images/logo2.jpg" /> </a>

                </div>
            </div>

        </li>

        <li class="estudios-hbo">
            <div class="estudios-box">

                <div class="estudios-b-img">
                    <a href="#"> <img src="../images/logo3.jpg" />  </a>
                </div>
            </div>

        </li>

        <li class="estudios-disney">
            <div class="estudios-box">

                <div class="estudios-b-img">
                    <a href="#"> <img src="../images/logo4.jpg" />  </a>
                </div>
            </div>

        </li>

        <li class="estudios-dc">
            <div class="estudios-box">

                <div class="estudios-b-img">
                    <a href="#"> <img src="../images/logo5.jpg" />  </a>
                </div>
            </div>

        </li>

        <li class="estudios-prime">
            <div class="estudios-box">

                <div class="estudios-b-img">
                    <a href="#"> <img src="../images/logo6.jpg" />  </a>
                </div>
            </div>

        </li>
    </ul>
</section>



<section id="main">



    <h1 class="recientes-heading">"Cada acto pequeño de cuidado ambiental cuenta; un gesto a la vez, podemos revertir el daño causado por la contaminación."</h1>

    <ul id="slider-recientes" class="cs-hidden">

        <li class="movie-avatar">

            <div class="recientes-box">
                <img src="../images/imagen1.jpg" />
                <div class="informacion">
                    <h3 class="inf-titulo">Contaminación Ambiental</h3>
                    <p class="inf-descripcion">"Cuidar nuestro planeta es una responsabilidad compartida; la contaminación es el resultado de olvidar ese compromiso."</p>
                    <p class="inf-categorias">No a la Contaminación</p>
                </div>
            </div>

        </li>


        <li class="movie-luca">

            <div class="recientes-box">

                <img src="../images/imagen2.jpg" />
                <div class="informacion">
                    <h3 class="inf-titulo">Contaminación Ambiental</h3>
                    <p class="inf-descripcion">"La contaminación ambiental es un grito silencioso que clama por un cambio en nuestros hábitos y actitudes."</p>
                    <p class="inf-categorias">No a la Contaminación</p>
                </div>

            </div>
        </li>


        <li class="movie-avengers_endgame">

            <div class="recientes-box">

                <img src="../images/imagen3.jpg" />
                <div class="informacion">
                    <h3 class="inf-titulo">Contaminación Ambiental</h3>
                    <p class="inf-descripcion">"El aire que respiramos y el agua que bebemos están directamente afectados por nuestras acciones en relación a la contaminación."</p>
                    <p class="inf-categorias">No a la Contaminación</p>
                </div>

            </div>
        </li>


        <li class="movie-coco">

            <div class="recientes-box">

                <img src="../images/imagen4.jpg" />
                <div class="informacion">
                    <h3 class="inf-titulo">Contaminación Ambiental</h3>
                    <p class="inf-descripcion">"La contaminación del pasado está afectando nuestro presente, y nuestras acciones actuales influirán en el futuro de nuestro planeta."</p>
                    <p class="inf-categorias">No a la Contaminación</p>
                </div>

            </div>
        </li>
        <li class="serie-arcane">

            <div class="recientes-box">

                <img src="../images/imagen5.jpg" />
                <div class="informacion">
                    <h3 class="inf-titulo">Contaminación Ambiental</h3>
                    <p class="inf-descripcion">
                        "Reducir la contaminación no es solo una opción, sino una necesidad urgente para preservar la salud de nuestro planeta y sus habitantes." <br>
                    </p>
                    <p class="inf-categorias">No a la Contaminación</p>
                </div>

            </div>
        </li>
    </ul>
</section>




<div class="peliculas-heading">
    <h2>"Los océanos, una vez puros y vírgenes, están ahora luchando contra la marea de la contaminación plástica que los ahoga."</h2>
</div>



<section id="peliculas-list">


    <div class="peliculas-box">
        <div class="peliculas-box-img">

            <a href="#"><img src="../images/imagen6.jpg" /></a>
            <div class="informacion">
                <a href="#"><h3 class="inf-titulo">Contaminación Ambiental: Desafíos y Soluciones</h3> </a>

            </div>
        </div>


    </div>

    <div class="peliculas-box">
        <div class="peliculas-box-img">

            <a href="#"><img src="../images/imagen7.jpg" /></a>
            <div class="informacion">
                <a href="#"><h3 class="inf-titulo">Enfrentando la Contaminación: Un Llamado a la Acción Ambiental</h3> </a>

            </div>
        </div>


    </div>

    <div class="peliculas-box">
        <div class="peliculas-box-img">

            <a href="#"><img src="../images/imagen8.jpg" /></a>
            <div class="informacion">
                <a href="#"><h3 class="inf-titulo">Entre la Polución y la Pureza: Navegando por la Contaminación Ambiental</h3> </a>

            </div>
        </div>


    </div>

    <div class="peliculas-box">
        <div class="peliculas-box-img">

            <a href="#"><img src="../images/imagen9.jpg" /></a>
            <div class="informacion">
                <a href="#"><h3 class="inf-titulo">Contaminación en el Siglo XXI: Impacto y Cambio Sostenible</h3> </a>

            </div>
        </div>


    </div>

    <div class="peliculas-box">
        <div class="peliculas-box-img">

            <a href="#"><img src="../images/imagen10.jpg" /></a>
            <div class="informacion">
                <a href="#"><h3 class="inf-titulo">Limpiando Nuestro Futuro: Estrategias contra la Contaminación Ambiental</h3> </a>

            </div>
        </div>


    </div>

    <div class="peliculas-box">
        <div class="peliculas-box-img">

            <a href="#"><img src="../images/imagen11.jpg" /></a>
            <div class="informacion">
                <a href="#"><h3 class="inf-titulo">Contaminación en Foco: Explorando las Amenazas Ambientales</h3> </a>

            </div>
        </div>


    </div>

    <div class="peliculas-box">
        <div class="peliculas-box-img">

            <a href="#"><img src="../images/imagen12.jpg" /></a>
            <div class="informacion">
                <a href="#"><h3 class="inf-titulo">Contaminación a Escala Global: Repercusiones Locales y Globales</h3> </a>

            </div>
        </div>


    </div>

    <div class="peliculas-box">
        <div class="peliculas-box-img">

            <a href="#"><img src="../images/imagen13.jpg" /></a>
            <div class="informacion">
                <a href="#"><h3 class="inf-titulo">Contaminación Sin Fronteras: Un Análisis Profundo de sus Efectos</h3> </a>

            </div>
        </div>
    </div>

</section>
